<div *ngIf="!(filterPanelOpen$ | async) || (filterPanelOpen$ | async) && (viewState | async).filterClass !== 'xSmall'" class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <button *ngIf="!(filterPanelOpen$ | async)" mat-raised-button color="primary" aria-label="Open Filters" (click)="openFilters()">Open Filters</button>
  <button *ngIf="filterPanelOpen$ | async" mat-raised-button color="primary" aria-label="Close Filters" (click)="closeFilters()">Close Filters</button>

  <!-- Don't generate this component if in mobile -->
  <app-big-one *ngIf="!(viewState | async).isMobile"></app-big-one>

  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of (viewState | async).cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="filterPanelOpen$ | async" class="filter-container filter-container-{{(viewState | async).filterClass}}">
  <div class="close-filters-wrapper" (click)="closeFilters()">
    <div>Close Filters</div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <mat-icon class="filters">filter_list</mat-icon>
</div>
