<app-title-bar></app-title-bar>

<div class="body-wrapper">
  <div #sidenav [hidden]="!(sideNavOpen$ | async)" class="side-bar side-bar-{{currentSize$ | async}}" >
    <button mat-stroked-button class="menu-btn"><mat-icon>home</mat-icon><span class="menu-text">Home</span></button>
    <button mat-stroked-button class="menu-btn"><mat-icon>category</mat-icon><span class="menu-text">Account</span></button>
    <button mat-stroked-button class="menu-btn"><mat-icon>trending_up</mat-icon><span class="menu-text">Reports</span></button>
    <button mat-stroked-button class="menu-btn"><mat-icon>computer</mat-icon><span class="menu-text">Settings</span></button>
    <button mat-stroked-button class="menu-btn"><mat-icon>portrait</mat-icon><span class="menu-text">Profile</span></button>
  </div>
  <div [hidden]="(sideNavOpen$ | async) && (currentSize$ | async) === 'xSmall'" class="content">
    <router-outlet></router-outlet>
  </div>
</div>
