@media screen and (max-width: 599px) {
  .title {
    font-size: 5em;
  }

  .another-one {
    background-color: aliceblue;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .title {
    font-size: 4em;
  }

  .another-one {
    background-color: antiquewhite;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .title {
    font-size: 3em;
  }

  .another-one {
    background-color: aqua;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .title {
    font-size: 2em;
  }

  .another-one {
    background-color: aquamarine;
  }
}

@media screen and (min-width: 1920px) {
  .title {
    font-size: 1.5em;
  }

  .another-one {
    background-color: azure;
  }
}
